.title-title {
    overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    min-height: 82px;
/* autoprefixer: off */
-webkit-box-orient: vertical;

}
.height-card{
    min-height: 400px;
    max-height: 590px;
}
