.title-title {
    overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 3;
/* autoprefixer: off */

-webkit-box-orient: vertical;

/* autoprefixer: on */ 
  }


.height-card{
    min-height: 400px;
    max-height: 590px;
}