body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333;
}
.btn-primary {
    color: #fff;
    background-color: #023049;
    border-color: #023049;
}
.btn {
    border-radius: 0;
}
.no-padding{
  padding: 0px !important;
}
.custom-select{
  border-radius: 0px !important;
}
.form-control{
  border-radius: 0px !important;
}
.rigth-input{
  margin-right: 5px;
}
.shadow-nav{
  box-shadow: 1px 1px 8px 1px #ccc;
}
.top-section{
  padding-top: 95px;
  min-height: 100vh;
  zoom: 0.80;
}
.tam-input-nav{
  width: 250px;
}
.avatar-nav{
  background-image: url(./assets/avatar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #4487c5;
  position: absolute;
  top: -10px;
  right: 40px;
}
.avatar-profile{
  background-image: url(./assets/avatar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #4487c5;
  display: inline-block;
}
.pos-menu{
  left: -100px;
  top: 45px;
}
.login-section{
  padding: 85px 80px;
  background-color: #eaeaea;
}
.register-section{
  background-color: #4487c5;
  padding: 125px;
  color: #fff;
}
.top{
  margin-top: 50px;
}
.section-forgot{
  padding: 85px 80px;
  background-color: #eaeaea;
  color: #333;
}
.content-data{
  display: inline-block;
  position: relative;
  top: -15px;
  left: 20px;
}

@media only screen and ( max-width: 768px ) {

  /* Aquí van los estilos para iPad vertical */

  .login-section{
    padding: 40px;
    background-color: #eaeaea;
  }
  .register-section{
    background-color: #4487c5;
    padding: 80px 50px;
    color: #fff;
  }
  .top{
    margin-top: 100px;
  }
  .section-forgot{
    padding: 50px 60px;
    background-color: #eaeaea;
    color: #333;
  }
  .border{
    border-bottom: 1px solid #ccc;
  }


}
@media only screen and ( max-width: 480px ) {

  /* Aquí van los estilos para iPhone vertical */
  .top-section{
    padding-top: 90px;
    padding-bottom: 50px;
    min-height: 100vh;
    zoom: 0.80;
  }
  .term {
    padding: 5px 15px;
    color: #555;
    margin-top: -5px;
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tam-input-nav{
    width: 100%;
    margin-bottom: 5px;
  }
  .content-data{
    display: block;
    position: initial;
    top: 0px;
    left: 0px;
  }
  .show>.dropdown-menu {
    display: block;
    left: -88px;
  }
  .content-edit {
    padding: 30px;
    background-color: #eaeaea;
    margin-top: 20px;
}

}
@media only screen and ( max-width: 320px ) {

  /* Aquí van los estilos para iPhone vertical */
  .top-section{
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100vh;
    zoom: 0.80;
  }
  .term {
    padding: 5px 15px;
    color: #555;
    margin-top: -50px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tam-input-nav{
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px
  }
  .content-data{
    display: block;
    position: initial;
    top: 0px;
    left: 0px;
  }
  .show>.dropdown-menu {
    display: block;
    left: -88px;
  }
  .content-edit {
    padding: 30px;
    background-color: #eaeaea;
    margin-top: 20px;
}

}
