.logo-img{
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.top{
  margin-top: 50px;
}
.bottom-title{
  margin-bottom: 30px;
}
.section-register{
  padding: 40px 70px;
  background-color: #eaeaea;
  color: #333;
}
.term{
  padding: 5px 15px;
  color: #555;
}
